@font-face {
  font-family: "iconfont"; /* Project id 2492148 */
  src: url('iconfont.woff2?t=1619885203553') format('woff2'),
       url('iconfont.woff?t=1619885203553') format('woff'),
       url('iconfont.ttf?t=1619885203553') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-caishixin-:before {
  content: "\e697";
}

.icon-shoucang:before {
  content: "\e612";
}

.icon-liebiao:before {
  content: "\e600";
}

.icon-gongzuoliuchengtu:before {
  content: "\e601";
}

.icon-android:before {
  content: "\e640";
}

.icon-dianzan:before {
  content: "\e60c";
}

.icon-duihuakuang2:before {
  content: "\e61f";
}

.icon-duihuakuang4:before {
  content: "\e621";
}

.icon-sanjiaotop:before {
  content: "\e6b4";
}

.icon-shangyinhao:before {
  content: "\e63d";
}

.icon-biaoqian:before {
  content: "\e69f";
}

.icon-combinedshapecopy2:before {
  content: "\e652";
}

.icon-qq:before {
  content: "\e666";
}

.icon-bangzhu:before {
  content: "\e62f";
}

.icon-sanjiao:before {
  content: "\e65a";
}

.icon-tubiao_diancai:before {
  content: "\e610";
}

.icon-yanjing:before {
  content: "\e60d";
}

.icon-diqiu:before {
  content: "\e62b";
}

.icon-right:before {
  content: "\e65e";
}

.icon-web-icon-:before {
  content: "\e6e5";
}

.icon-duihua:before {
  content: "\e622";
}

.icon-fangdajing:before {
  content: "\e637";
}

.icon-biji:before {
  content: "\e64e";
}

.icon-dengchu:before {
  content: "\eb45";
}

.icon-wenzhang:before {
  content: "\e617";
}

.icon-caidan:before {
  content: "\e653";
}

.icon-i:before {
  content: "\e616";
}

.icon-wodedangxuan:before {
  content: "\e607";
}

.icon-guanyu:before {
  content: "\e728";
}

.icon-tupian:before {
  content: "\e667";
}

.icon-github:before {
  content: "\e64c";
}

.icon-lingdang:before {
  content: "\e634";
}

.icon-tubiao-:before {
  content: "\e608";
}

.icon-B:before {
  content: "\e606";
}

.icon-H:before {
  content: "\e609";
}

.icon-biaoge:before {
  content: "\e668";
}

.icon-weibo:before {
  content: "\e6a4";
}

.icon-caogaoxiang:before {
  content: "\e618";
}

.icon-daima:before {
  content: "\e60e";
}

.icon-fangda:before {
  content: "\e650";
}

.icon-html:before {
  content: "\e656";
}

.icon-vue:before {
  content: "\e6b9";
}

.icon-duanxin:before {
  content: "\e60f";
}

.icon-icon-test:before {
  content: "\e619";
}

.icon-icon-test1:before {
  content: "\e61a";
}

.icon-icon-test2:before {
  content: "\e61b";
}

.icon-weibo1:before {
  content: "\e620";
}

.icon-github1:before {
  content: "\e685";
}

.icon-mulu:before {
  content: "\e602";
}

.icon-duanxin1:before {
  content: "\e63c";
}

.icon-liebiao1:before {
  content: "\e6da";
}

.icon-yingguangbi:before {
  content: "\e654";
}

.icon-jinggao:before {
  content: "\e695";
}

.icon-4-148:before {
  content: "\e691";
}

.icon-weixin:before {
  content: "\e68a";
}

.icon-zuocebianlan:before {
  content: "\e646";
}

.icon-youcebianlan:before {
  content: "\e647";
}

.icon-renwuguanli:before {
  content: "\e60a";
}

.icon-shezhi:before {
  content: "\e61c";
}

.icon-formula:before {
  content: "\e623";
}

.icon-strikethrough:before {
  content: "\eaf0";
}


.fangdajing {
  position: absolute;
  left: 594px;
  top: 2px;
}
.jiantou {
  display: inline-block;
  font-size: 12px;
  color: rgb(113, 119, 124);
  transform: translate(45px,7px) rotate(90deg);
}
.lv4 {
  font-size: 20px;
  color: rgb(52, 209, 155);
}
.lv2 {
  font-size: 20px;
  color: rgb(110, 206, 255);
}

div.icons {
  margin-top: 10px;
}
.weibo {
  color: rgb(210, 26, 26);
}
.weChat {
  color:rgb(93, 186, 81);
}
.detail-Information .weChat {
  padding-left: 10px;
  color:rgb(93, 186, 81);
}
.lingdang {
  display: inline-block;
  font-size: 24px;
  transform: translateX(5px);
}
.lingdang:hover {
  color: #077FFF;
}
.moreIcon {
  display: inline-block;
  transform: translateY(-4px);
  color: rgb(178, 186, 194);
}

.writeArticle .iconList {
  display: flex;
  padding: 10px;
  color: rgb(113, 119, 124);
}
.writeArticle .iconList i {
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  text-align: center;
  width: 40px;
  height: 20px;
  line-height: 20px;
  color: #000;
}
.writeArticle .iconList i:hover {
  background-color: rgba(0,0,0,.1);
}
.personalPage .rightIcon {
  position: absolute;
  right: -6px;
  color: rgb(113, 119, 124);
}
.personalPage .rightIcon i {
  display: inline-block;
  font-size: 22px;
  width: 30px;
}

.personalPage .sanJiao {
  display: inline-block;
  transform: rotate(180deg);
}
.personalPage  .detailArticle i {
  font-size: 14px;
  color: rgb(113, 119, 124);
}

/* 这个already是给i的 */
.already {
  color: rgb(108, 189, 69) !important;
}
.alreadyCai {
  color: #077FFF !important;
}
.personalPage .share i {
  display: inline-block;
  font-size: 18px;
  transform: rotate(270deg);
}
.personalAchievement .achieve i {
  color: #077FFF;
  display: inline-block;
  width: 30px;
}

.infor {
  display: inline-block;
  transform: rotate(180deg);
}
.changeInfor {
  float: right;
  transform: translateY(-16px);
  color: #077FFF;
}

.articleDetail .pingLun i {
  cursor: pointer;
  font-size: 12px;
  color: #077FFF;
  padding-right: 20px;
}

.emoji {
  display: inline;
  width: 25px;
  height: 25px;
  transform: translateY(4px);
}

