.personalInformation {
    display: none;
    /* display: block; */
}
.personalInformation .detailMessage {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 46px;
    background-color: #fff;
}

.personalInformation .detailMessage ul li {
    display: flex;
    float: left;
    font-size: 15px;
    line-height: 46px;
    padding-right: 20px;
}
.personalInformation .detailMessage ul li:nth-child(2) {
    color: hsl(211, 100%, 51%);
}
.personalInformation .detailList .change .headPhoto {
    height: 72px;
    display: inline-block;
}
.personalInformation .detailList .change span {
    display: inline-block;
    transform: translateY(-30px);
}
.personalInformation .detailList .change .actionBox {
    width: 350px;
    height: 72px;
    display: inline-block;
}
.personalInformation .detailList .change .actionBox input {
    width: 80px;
    height: 27px;
    opacity: 0;
    cursor: pointer;
}
.personalInformation .detailList .change .actionBox form {
    width: 80px;
    height: 27px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    line-height: 27px;
    transform: translate(16px, 16px);
    background-color: #077FFF;
}
.personalInformation .detailList .change .actionBox button:hover {
    background-color: rgb(3, 113, 223);
}
.personalInformation .detailList .change .actionBox p {
    font-size: 14px;
    text-indent: 1em;
}
.personalInformation .headPhoto .tou-xiang {
    display: inline-block;
    width: 72px;
    height: 72px;
}
.personalInformation .detailList {
    width: 100%;
    position: absolute;
    top: 120px;
}
.personalInformation .detailList span {
    display: inline-block;
    color: #000;
    width: 130px;
}
.personalInformation .detailList p {
    display: inline-block;
}
.personalInformation .detailList ul {
    width: 600px;
    height: 540px;
    padding: 32px 48px 84px 48px;
    background-color: #fff;
}
.personalInformation .detailList li {
    width: 600px;
    line-height: 100%;
    padding: 24px 0;
    flex-direction: row;
}
.personalInformation .detailList .changeHead input{
    height: 22px;
    border: none;
    font-size: 16px;
    color: rgb(117, 117, 117);
    transform: translate(134px,-18px);
}
.personalInformation .detailList .changeHead .toSave {
    display: none;
    float: right;
    transform: translateY(-16px);
    transition: all .3s;
}
.personalInformation .detailList .changeHead .toSave span {
    display: inline;
    color: rgba(0,0,0,.7);
}
.personalInformation .detailList .changeHead .toSave span:nth-child(1) {
    color: #077FFF;
}